.releases
node_modules
dist
jxdist
obfdist
tmp
cert
old
tests
tools
configs
config.json
nefelus.conf
hub.conf
var

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.jx
*.installed

pids
logs
results

npm-debug.log
